@model Project_HKIII_Auction.Models.Product
@{
    ViewBag.Title = "Auction";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@{
    DateTime date1 = DateTime.Now;
    DateTime date2 = Model.DateEnd;
    var date = date2 - date1;
    string msg;
    int dis = 0;
}
<script>
    function startTick(second, minute, hour, day) {
        var strTime = day + " Days " + hour + " : " + minute + " : " + second;
        document.getElementById('time').innerText = strTime;
        var _tick = setInterval(function () {
            second = second - 1;

            var strTime = day + " Days " + hour + " : " + minute + " : " + second;
            document.getElementById('time').innerText = strTime;

            if (second == 0) {
                second = 60;
                minute = minute - 1;
            }
            if (minute == 0) {
                minute = 59;
                hour = hour - 1;
            }
            if (hour == 0) {
                if (day > 0) {
                    hour = 24;
                    day = day - 1;
                }
            }
        }, 1000);
    };
</script>
<script>
        function hien() {
            document.getElementById('hehe').style.display = 'block';
            document.getElementById('btn').style.display = 'none';
        };
</script>
<link rel="stylesheet" href="~/Content/ThongtinSP.css" />
<style>
    #price input{
        padding:5px;
        border-radius:5px;
        width:90%;
        margin-bottom:10px;
    }
</style>
<div class="container" style="margin-left:15%">
    <!-- Left Column / Headphones Image -->
    <div style="margin-right:10%; margin-top:5%">
        <img src="@Model.Image" alt="" width="450" height="400">
    </div>


    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>Product Name</span>
            <h1>@Model.PName</h1>
            <p>Description: @Model.Description</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

            <!-- Product Color -->
            <div class="product-color">
                <span>Price</span>

                <div class="color-choose">
                    <div>
                        <label>Start Price: @Model.MinimumPrice</label>

                    </div>
                    </br>
                    <div>
                        <label>Highest Price: @Model.MaximumPrice</label>
                    </div>

                </div>

            </div>

            <!-- Cable Configuration -->
            <div class="cable-config">
                <span>Time remaining until you can join</span>

                <div class="cable-choose">
                    @if (date.Seconds < 0)
                    {
                        msg = "Over Time";
                        <span>@msg</span>
                    }
                    else
                    {
                        dis++;
                        <span id="time">
                            <script>
                                startTick(@date.Seconds, @date.Minutes, @date.Hours, @date.Days)
                            </script>
                        </span>
                    }
                </div>

            </div>
        </div>
        <div id="hehe" style="display:none">
            @using (Html.BeginForm("Auction", "User", FormMethod.Post))
            {
                <div style="display:none">
                    @Html.TextBox("PId", new { @Value = Model.PId });
                </div>
                <div id="price">
                    @Html.TextBox("Price", null, new { @placeholder = "Enter your price" })
                </div>
                <div>
                    <input type="submit" class="cart-btn" style="border:none; cursor:pointer" value="Auction" />
                </div>
            }
        </div>
        <!-- Product Pricing -->
        <div class="product-price">
            <span>Current price: @Model.Incremenent$</span>
            @if (dis != 0)
            {
                <button id="btn" class="cart-btn" style="border:none; cursor:pointer" onclick="hien()">Auction</button>
            }
            else
            {
                <button class="cart-btn" style="border:none; cursor:no-drop" disabled>Auction</button>
            }
        </div>
        <span style="color:red">@ViewBag.U</span>
        <span style="color:red">@ViewBag.Y</span>
    </div>
</div>
